.customcss .modal-wrapper {
  background: #f4f4f4;
  min-height: 200px;
}

.alertStyle .alert-wrapper {
  background: #f4f4f4;
}

.alertStyle .alert-wrapper .alert-title {
  background-color: #2fdf75;
}

.alertStyle .alert-wrapper .alert-head {
  background-color: #2fdf75;
}

.alertStyle .alert-wrapper .alert-message {
  padding-top: 20px !important;
}

#card-options {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
  align-items: center;
  background-color: #333;
}
#card-options .class-option {
  flex-basis: 15%;
  cursor: pointer;
}
